#### Trained using RandomForestRegressor , having :-
#### R2 value for Random Forest :  65.15376441217686
#### MAE value for Random Forest :  9.55658382687927

In [1]:
import pandas as pd
from datetime import date

In [2]:
df = pd.read_csv("Final_Datasets/final_dataset.csv")

In [3]:
df

,Date,Month,Year,Holidays_Count,Days,PM2.5,PM10,NO2,SO2,CO,Ozone,AQI
0,1,1,2021,0,5,408.80,442.42,160.61,12.95,2.77,43.19,462
1,2,1,2021,0,6,404.04,561.95,52.85,5.18,2.60,16.43,482
2,3,1,2021,1,7,225.07,239.04,170.95,10.93,1.40,44.29,263
3,4,1,2021,0,1,89.55,132.08,153.98,10.42,1.01,49.19,207
4,5,1,2021,0,2,54.06,55.54,122.66,9.70,0.64,48.88,149
...,...,...,...,...,...,...,...,...,...,...,...,...
1456,27,12,2024,0,5,58.43,249.17,41.69,65.89,0.99,36.25,263
1457,28,12,2024,0,6,33.83,150.77,33.31,66.14,0.79,35.19,113
1458,29,12,2024,1,7,31.21,139.75,27.01,65.94,0.57,35.88,142
1459,30,12,2024,0,1,38.01,152.83,29.12,65.16,0.55,38.38,116
1460,31,12,2024,0,2,80.42,318.96,40.37,64.98,0.84,39.93,209

In [4]:
df.columns

Index(['Date', 'Month', 'Year', 'Holidays_Count', 'Days', 'PM2.5', 'PM10',
       'NO2', 'SO2', 'CO', 'Ozone', 'AQI'],
      dtype='object')

In [5]:
X = df[['Date', 'Month', 'Year', 'Holidays_Count', 'Days']]
Y = df['NO2']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.30)

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_absolute_error

models = {

    "Random Forest" : RandomForestRegressor(),

}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,Y_train)
    Y_pred = model.predict(X_test)

    acc = r2_score(Y_test,Y_pred)
    mae = mean_absolute_error(Y_test,Y_pred)
    print(f"R2 value for {list(models.keys())[i]} : ", acc*100)
    print(f"MAE value for {list(models.keys())[i]} : ", mae)
    print("-"*50) # Just to make a boundary

R2 value for Random Forest :  65.15376441217686
MAE value for Random Forest :  9.55658382687927
--------------------------------------------------

In [18]:
Day = 23
Month = 2
Year = 2026

In [19]:
import holidays # Informs us about Holidays

holidays_in = holidays.India()
infomration_holiday = holidays_in.get(date(Year,Month,Day))


if infomration_holiday == None:
    holiday = 0
else:
    holiday = 1

weekday_info = date(Year,Month,Day).weekday() + 1  # Weekday for today's date + is it sunday (holiday update)

if weekday_info == 7 : 
    holiday = 1

In [20]:
Y_Pred = model.predict([[Day,Month,Year,holiday,weekday_info]])
Y_Pred

c:\Users\kunsh\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([42.1472])

In [21]:
import pickle

In [22]:
with open("NO2_model.pkl","wb") as f:
    pickle.dump(model,f)